<mat-accordion>
  <mat-expansion-panel [(expanded)]="expansionParti">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados do Participante
      </mat-panel-title>
      <mat-panel-description>
        {{infoParticipante}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-horizontal-stepper linear #stepperParticipante>
      <mat-step [stepControl]="participanteIdFormGroup" errorMessage="Id do participante é obrigatório.">
        <form [formGroup]="participanteIdFormGroup">
          <ng-template matStepLabel>Forneça seu ID</ng-template>
          <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput type="number" autocomplete="off" formControlName="partiID" required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="participanteSecretFormGroup" errorMessage="Secret Code é obrigatório.">
        <form [formGroup]="participanteSecretFormGroup">
          <ng-template matStepLabel>Forneça seu Secret Code</ng-template>
          <mat-form-field>
            <mat-label>Secret</mat-label>
            <input matInput placeholder="Ex. LLSA2Z" maxlength="6" autocomplete="off" autocorrect="off"
              autocapitalize="off" spellcheck="false" #secretParticipant
              (input)="secretParticipant.value=$event.target.value.toUpperCase()" formControlName="partiSecret"
              required>
          </mat-form-field>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
            <button mat-raised-button color="primary" matStepperNext (click)="verifyParticipant()">Próximo</button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Concluído</ng-template>
        <mat-spinner *ngIf="participanteIsLoading" diameter="30"></mat-spinner>
        <p>{{msgParti}}</p>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious *ngIf="erroParti">Anterior</button>
          <button mat-raised-button color="primary" *ngIf="!erroParti && equipe === null"
            (click)="requisitarEquipe()">Requisitar Equipe</button>
          <button mat-raised-button color="primary" (click)="resetInfoParticipante()">Refazer</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-expansion-panel>

  <mat-expansion-panel [(expanded)]="expansionEquipe">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Dados da Equipe
      </mat-panel-title>
      <mat-panel-description>
        {{infoEquipe}}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="participante === null || equipe === null">
      <p>Forneça esses dados somente se sua equipe não fizer parte de um grupo.</p>
      <mat-horizontal-stepper linear #stepperEquipe>
        <mat-step [stepControl]="equipeIdFormGroup" errorMessage="ID da equipe é obrigatório.">
          <form [formGroup]="equipeIdFormGroup">
            <ng-template matStepLabel>Forneça o ID</ng-template>
            <mat-form-field>
              <mat-label>ID</mat-label>
              <input matInput type="number" autocomplete="off" formControlName="equipeId" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="equipeSecretFormGroup" errorMessage="Secret Code é obrigatório.">
          <form [formGroup]="equipeSecretFormGroup">
            <ng-template matStepLabel>Forneça seu Secret Code</ng-template>
            <mat-form-field>
              <mat-label>Secret</mat-label>
              <input matInput placeholder="Ex. LLSA2Z" maxlength="6" autocomplete="off" autocorrect="off"
                autocapitalize="off" spellcheck="false" #secretTeam
                (input)="secretTeam.value=$event.target.value.toUpperCase()" formControlName="equipeSecret" required>
            </mat-form-field>
            <div>
              <button mat-raised-button color="primary" matStepperPrevious>Anterior</button>
              <button mat-raised-button color="primary" matStepperNext (click)="verifyTeam()">Próximo</button>
            </div>
          </form>
        </mat-step>
        <mat-step>
          <ng-template matStepLabel>Concluído</ng-template>
          <mat-spinner *ngIf="equipeIsLoading" diameter="30"></mat-spinner>
          <p>{{msgEquipe}}</p>
          <div>
            <button mat-raised-button color="primary" matStepperPrevious *ngIf="erroEquipe">Anterior</button>
            <button mat-raised-button color="primary" *ngIf="!erroEquipe && grupo === null"
              (click)="requisitarGrupo()">Requisitar
              Casa</button>
            <button mat-raised-button color="primary" (click)="resetInfoEquipe()">Refazer</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>

    <div *ngIf="participante != null && equipe != null" style="display: flex;justify-content: space-between;">
      <div>
        <p>Sua equipe se chama {{equipe?.name}}.</p>
        <p>Os participantes atuais da sua equipe são:</p>
        <ul>
          <li *ngFor="let pt of equipe.participants">
            {{pt}}
          </li>
        </ul>
      </div>
      <div style="text-align: right;">
        <p>Sua casa é a {{grupo?.name}}.</p>
        <p>As equipes atuais da casa {{grupo?.name}} são:</p>
        <mat-expansion-panel *ngFor="let tm of grupo?.teams">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{tm.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>
          <p *ngIf="tm?.participants.length === 0">
            Ninguém por enquanto
          </p>
          <p *ngFor="let pName of tm?.participants">
            {{pName.split(' ')[0]}}
          </p>
        </mat-expansion-panel>
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<div class="video-chapel">
  <div class="legenda">{{legenda}}</div>
  <video autoplay="autoplay" loop muted>
    <source src="assets/video/chapel.mp4" type="video/mp4">
  </video>
</div>